In [9]:
import pandas as pd
data= { "d2":["hell","hi"], "d1":["hi","chalo"]}
df=pd.DataFrame(data, index=['ha','hello'])
df

         d2     d1
ha     hell     hi
hello    hi  chalo

In [4]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialize data of lists.
data = {'Name': ['Tom', 'nick', 'krish', 'jack'],'Age': [20, 21, 19, 18],' ': [20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
df

    Name  Age
0    Tom   20  20
1   nick   21  21
2  krish   19  19
3   jack   18  18

In [10]:
# Python code demonstrate how to create
# Pandas DataFrame by lists of dicts.
import pandas as pd

# Initialize data to lists.
data = [{'a': 1, 'b': 2, 'c': 3}, {'a': 10, 'b': 20, 'c': 30}]

# Creates DataFrame.
df = pd.DataFrame(data)

# Print the data
df

    a   b   c
0   1   2   3
1  10  20  30